{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Our Brands</h1>
    <div class="row g-4">
        {% for brand in brands %}
        <div class="col-md-3">
            <div class="card h-100">
                {% if brand.logo %}
                <img src="{{ brand.logo.url }}" class="card-img-top" alt="{{ brand.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ brand.name }}</h5>
                    <p class="card-text">{{ brand.description }}</p>
                    <a href="{% url 'products:brand_products' brand.slug %}" class="btn btn-primary">
                        View Products
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}